<!-- form action을 안적으면 같은페이지로 호출한다/ -->
<!-- <form method="POST" action="{% url 'users:signup' %}" class="w-full"> -->
<form method="POST" class="w-full">
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
    {% endif %}

    {% for field in form %}
        {% include 'partials/form_input.html' with field=field %}
    {% endfor %}

    <button class="btn bg-red-500 text-white">{{cta}}</button>
</form> 