{% extends "base.html" %}
{% load i18n %}


{% block page_title %}
{{room.name}}
{% endblock page_title %}

{% block content %}
<div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
    {{room.country}}
</div>
<div>
    <h2>By: {{room.host.username}}
        {% if room.host.superhost%}
        (superhost)
        {% endif %}
    </h2>
    <h3>Amenities</h3>
    <ul>
        {% for a in room.amenities.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>
    <h3>Facilities</h3>
    <ul>
        {% for a in room.facilities.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>
    <h3>House Rules</h3>
    <ul>
        {% for a in room.house_rules.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>

</div>

<a class="btn-link block mb-10 w-2/6" href="#">{% trans "Save to Favourite" %}</a>

<div class="w-1/3">
    <a href="{% url 'rooms:edit' room.pk %}" class="btn-link block bg-purple-600 text-white">Edit Button</a>
</div>

{% endblock %}