{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

    <div class="bg-gray-800 w-full h-25vh">aaa</div>

{{now}}

{% for room in rooms %}
<h6>
    <!-- <a href="/rooms/{{room.pk}}"> -->
    <a href='{% url "rooms:detail" room.pk %}'>
        {{room.name}} / ${{room.price}}
    </a>
</h6>
{% endfor %}

<h5>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}


    {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}


    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

</h5>



{% for page in page.paginator.page_range %}

<a href="?page={{page}}">{{page}}</a>

{% endfor %}

{% endblock content %}